//COLORS
$color-primary-dark: #5c0475;
$color-primary-light: #cc00a4;

$color-grey-light: #e3e3e3;
$color-grey-dark: #b6b6b6;

//FONTS
$font-heading-primary: 'Raleway', sans-serif;

$font-text-primary: 'Montserrat', sans-serif;
