.logo-heading-box {
  color: #fff;
  z-index: 999;

  @include flex-center;
  flex-direction: column;

  &__logo {
    width: 17rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-family: $font-heading-primary;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1rem;
    text-align: center;
    // margin-left: 1rem;
    text-transform: uppercase;
  }
}
