.testimonial {
  margin-top: 4rem;
  position: relative;

  &__text {
    display: none;
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
    color: $color-primary-light;
    position: relative;

    &::before {
      content: '"';
      font-size: 6rem;
      position: absolute;
      top: -5rem;
      left: 2.5rem;
      font-family: 'Lily Script One', cursive;
      transform: rotate(180deg);
    }

    &::after {
      content: '"';
      font-size: 6rem;
      position: absolute;
      bottom: -4rem;
      right: 2.5rem;
      font-family: 'Lily Script One', cursive;
    }
  }

  &__button-box {
    margin-top: 1rem;
    margin-bottom: 3rem;

    @include flex-center;
  }

  &__button {
    position: relative;
    height: 1.8rem;
    width: 1.8rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: 0.5s all ease;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }
}

.d-block {
  display: block;
}

.active {
  background-color: $color-primary-light;
}
