.beauty {
  &--about {
    height: 50vh;
    background: url(./../../img/beautyAbout-header.jpg) center center no-repeat;
    background-size: cover;
    position: relative;

    & .logo-heading-box {
      &__title {
        letter-spacing: 0.5rem;
      }
    }

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.cake {
  &--about {
    height: 50vh;
    background: url(../img/cake-tile3.jpg) center center no-repeat;
    background-size: cover;
    position: relative;

    & .logo-heading-box {
      &__title {
        letter-spacing: 0.7rem;
      }
    }

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.heading {
  // height: 28rem;
  margin-top: 4rem;

  @include flex-center;
  flex-direction: column;

  &__title {
    font-family: $font-heading-primary;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;

    background: linear-gradient(
      to right,
      $color-primary-dark,
      $color-primary-light
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }

  &__border {
    height: 0.5rem;
    width: 60%;
    background-color: $color-primary-dark;
  }
}

.about {
  &__content {
    padding: 2.5rem 2.8rem;
  }

  &__text {
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
  }
}
