.slideshow {
  height: 50vh;
  position: relative;

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    opacity: 0;

    transition: 0.5s all ease;
  }

  &__button-box {
    position: absolute;
    right: 50%;
    bottom: 2rem;
    z-index: 99;
    transform: translate(50%, -50%);
    z-index: 100;

    display: flex;
  }

  &__button {
    position: relative;
    height: 1.8rem;
    width: 1.8rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: 0.5s all ease;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }

  .opacity-1 {
    opacity: 1;
  }

  .active {
    background-color: $color-primary-dark;
  }
}

// navigation tiles on home screen

.tile {
  height: 250px;
  margin: 1.5rem 1rem;
  position: relative;

  @include flex-center;

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__text-box {
    padding: 2rem;
    border: 1rem solid #fff;
    height: 110px;
    width: 80%;
    z-index: 10;

    @include flex-center;
  }

  &__text {
    font-family: $font-heading-primary;
    font-size: 7rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    &--3 {
      font-size: 5rem;
    }
  }

  &--beauty-1 {
    background: url(../img/beauty-tile1.jpg) center center no-repeat;
    background-size: cover;
  }
  &--beauty-2 {
    background: url(../img/beauty-tile2.jpg) center center no-repeat;
    background-size: cover;
  }
  &--beauty-3 {
    background: url(../img/beauty-tile3.jpg) center center no-repeat;
    background-size: cover;
  }

  &--cake-1 {
    background: url(../img/cake-tile1.jpg) center center no-repeat;
    background-size: cover;
  }

  &--cake-2 {
    background: url(../img/cake-tile2.jpg) center center no-repeat;
    background-size: cover;
  }

  &--cake-3 {
    background: url(../img/cake-tile3.jpg) center center no-repeat;
    background-size: cover;
  }
}

// testimonials on home page

.testimonial {
  margin-top: 4rem;
  position: relative;

  &__text {
    display: none;
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
    color: $color-primary-light;
    position: relative;

    &::before {
      content: '"';
      font-size: 6rem;
      position: absolute;
      top: -5rem;
      left: 2.5rem;
      font-family: 'Lily Script One', cursive;
      transform: rotate(180deg);
    }

    &::after {
      content: '"';
      font-size: 6rem;
      position: absolute;
      bottom: -4rem;
      right: 2.5rem;
      font-family: 'Lily Script One', cursive;
    }
  }

  &__button-box {
    margin-top: 1rem;
    margin-bottom: 3rem;

    @include flex-center;
  }

  &__button {
    position: relative;
    height: 1.8rem;
    width: 1.8rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: 0.5s all ease;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }
}

.d-block {
  display: block;
}

.active {
  background-color: $color-primary-light;
}

// contact tiles on home screen

.contact {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  &__tile {
    @include flex-center;

    height: 150px;
    flex: 0 0 43%;
    background-image: linear-gradient(
      to bottom,
      $color-primary-light,
      $color-primary-dark
    );
  }

  &__inner {
    &--1 {
      width: 10.5rem;
    }

    &--2 {
      font-family: $font-heading-primary;
      font-weight: 700;
      font-size: 2.8rem;
      color: #fff;
      text-transform: uppercase;
    }
  }
}
